---
interface Props{
    icons: Object
}
const { icons } = Astro.props
---

<div id="navIconos">
    <ul>
        <li><a target="_blank" href="https://github.com/dcuestaprieto">asdfadsf</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/diego-cuesta-prieto-programador-web/">asdfadsf</a></li>
    </ul>
</div>
<style>
    #navIconos {
    position: fixed;
    color: white;
    font-size: 40px;
    padding: 10px 0 0 10px;
}
</style>