---
interface Props{
    icons: Object
}
const { icons } = Astro.props
---

<div id="navIconos">
    <ul>
        <li><a target="_blank" href="https://github.com/dcuestaprieto"><i class="fa-brands fa-github"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/diego-cuesta-prieto-programador-web/"><i class="fa-brands fa-linkedin"></i></a></li>
    </ul>
</div>