<nav>
    <ul id="navIconos">
        <li><a target="_blank" href="https://github.com/dcuestaprieto"></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/diego-cuesta-prieto-programador-java-backend/">asdf</a></li>
    </ul>
</nav>
<style>
</style>